* {
    margin: 0;
}


/********** Template CSS ************/
.color-red {
    color: #CC4949;
}

.hidden {
    display: none;
}

/* background-parallax */

.wrapper-bg {
    margin: 0 0;
}

.bg {
    background-image: url("images/background.png");
    height: 400px;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}



/* navigation bar */

.navbar {
    /* margin-bottom: -5%;
    margin-top: -5%; */
    background-color: #93d9c6;
    height: 60px;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: lighter;
    color: white;
}

.nav-link:hover {
    color: #CC4949;
    transition: color 0.5s;
    font-weight: 900px;
}


/* header */

.container-fluid {
    padding: 5% 15% 7% 15%;
}


#header {
    background-color: #194350;  
    color: rgb(255, 255, 255);
    font-family: "Montserrat";
    z-index: 1;
    position: relative;
    height: 450px;
    width: 100%;

}

.header-text-position {
    position: relative;
    left: 60%;
}

.header-img {
    border-radius: 50%;
    width: 23%;
    z-index: -1;
    position: absolute;
    right: 25%;
    top: 15%;
}

.header-title {
    color: white;
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3.5rem;
    position: relative;
}

.subtitle {
    color: #CC4949;
    font-size: 3rem;
    font-weight: 600;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background:#CC6666;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    font-size: 1rem;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* buttons */

.download-btn {
    margin: 5% 3% 5% 0%;
}

/* About Me */

#about {
    padding: 80px 0;
    color: #ababab;
    background-color: #194350;
}

.row   {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

/* Skills */

#skills {
    padding: 5%;
    margin: 0;
    background-color: #194350;
    height: 600px;
}


/* Portfolio */

#portfolio {
    padding: 70px 0;
    background-color: #194350;
    /* background-image: url("images/bg-sky-full.jpeg"); */
    height: 700px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer  {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(119, 72, 72, 0.6), #EF9F9F);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #EF9F9F;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    /* background: #fff; */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.work-btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ababab;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: color 0.5s;
}

.work-btn:hover {
    background: #EF9F9F;
}



/* contact */

#contact-form {
    margin: 10%;
}
.contact-title {
    text-align: center;
}

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }

/* footer */

#footer {
    text-align: center;
    padding: 10%;
    background-color: #194350;
    height: 200px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer-btn {
    color: black;
}

.footer-name {
    font-family: "Sacramento";
}


/* media queries */

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
        width: auto;
    }
}